footer.footer
	.footer__inner.container
		.footer__social
			ul.social
				li.social__item
					a.social__link.social__link_vk(href="https://vk.com/adam_defo" target="_blank" title="Я во ВКонтакте")
				li.social__item
					a.social__link.social__link_telegram(href="https://t.me/adam_defo" target="_blank" title="Мой Телеграм")
				li.social__item
					a.social__link.social__link_twitter(href="#")
				li.social__item
					a.social__link.social__link_instagram(href="#")
		.footer__copyright © 2015–2017 Made with Love

//- script(src="js/vue/vue.js")
script(src="js/main.js")
