header.header
	.header__container
		a.header__logo(href="/")
			span adamdefo
			//a.header__link(href="/")
			//	.logo
			//		//- img(src="img/logo.png")
			//	span.header__caption Hello my friend!
			//	span.header__slogan Press Enter for the start . . .
		.header__nav
			nav.nav
				.nav__item
					a.nav__link(href="films.html")
						span Кинотека
