header.header
	.header__container
		.header__logo
			a.logo(href="/")
				span adamdefo
			//	span.logo__caption Hello my friend!
			//	span.logo__slogan Press Enter for the start . . .
		.header__nav
			nav.nav
				.nav__item
					a.nav__link(href="blog.html")
						span Мюсли
				.nav__item
					a.nav__link(href="films.html")
						span Кинотека
