.header
	position: relative
	width: 100%
	&__container
		padding: 3.5rem 3rem 1.5rem
		&:before, &:after
			clear: both
			content: ''
			display: block
			height: 0
	&__logo
		display: inline-block
		color: #000000
		font-family: $ff_monserat
		font-size: 2.15rem
		font-weight: bold
		text-transform: lowercase
		&:hover
			color: $color_v
	&__link
		color: #432E30
		& .logo
			display: inline-block
			// background-color: #FFE4E4
			border: 4px solid #FFE4E4
			// border-radius: 50%
			margin-bottom: 20px
			padding: 10px
			width: 73px
			height: 73px
			&:hover
				border-color: #232323
	&__slogan
		display: block
		font-family: $ff
		font-size: 1.35rem
		padding: 5px 0
	&__caption
		display: block
		font-family: $ff2
		font-size: 3rem
		font-weight: bold
		line-height: 1.5
	&__nav
		float: right
		padding-top: .8rem
