.header
	position: relative
	width: 100%
	&__inner
		padding: 35px 0
	&__logo
		text-align: center
		& a
			color: #454553
			&:hover
				color: $c1
		& .logo
			display: inline-block
			background-color: #454553
			border-radius: 50%
			margin-bottom: 20px
			padding: 10px
			width: 73px
			height: 73px
			&:hover
				background-color: $c1
		& .slogan
			display: block
			font-family: $ff
			font-size: 1.35rem
			padding: 5px 0
		& .caption
			display: block
			font-family: $ff2
			font-size: 3rem
			font-weight: bold
			line-height: 1
