.header
	position: relative
	width: 100%
	&__container
		padding: 7.5rem 0 3.5rem
	&__logo
		text-align: center
	&__link
		color: #432E30
		& .logo
			display: inline-block
			// background-color: #FFE4E4
			border: 4px solid #FFE4E4
			// border-radius: 50%
			margin-bottom: 20px
			padding: 10px
			width: 73px
			height: 73px
			&:hover
				border-color: #232323
	&__slogan
		display: block
		font-family: $ff
		font-size: 1.35rem
		padding: 5px 0
	&__caption
		display: block
		font-family: $ff2
		font-size: 3rem
		font-weight: bold
		line-height: 1.5
