.layout
	position: relative
	width: 100%

.wrapper
	position: relative
	margin: 0 auto
	padding: 0 20px
	max-width: 1200px

.container
	position: relative
	padding: 0 15px
	margin: 0 auto
	max-width: 1200px

.main
	position: relative
	width: 100%

.section
	position: relative
	width: 100%
	&_slider
		background-color: #292a33
		height: 100vh
		max-height: 800px

.section-promo
	padding: 0
	background: url('../img/bg-cover.jpg') center no-repeat fixed
	background-size: cover
	&:before
		content: ''
		position: absolute
		background-color: rgba(0,0,0,.25)
		width: 100%
		height: 100%
		z-index: 1
	& .quotes
		color: #ffffff

.section-services
	background-color: rgb(247, 246, 246)
	padding: 70px 0

.section_catalog
	padding: 40px 20px

.section-fixed
	display: table
	min-height: 100vh

.section-black
	background-color: #232323

.td
	position: relative
	display: table-cell
	vertical-align: middle
	z-index: 10


.card
	display: inline-block
	background: url('../img/card.png') 0 0 no-repeat scroll
	width: 469px
	height: 221px
	padding: 20px

.product
	position: relative
	background-color: #ffffff
	border-radius: 5px
	height: 240px
	&_empty
		border: 1px dashed #d8d8d8

.phone a
	font-size: 1.5em
	color: #333333

.banner
	border: 2px solid #ffd800
	height: 100px
	margin: 50px auto

+keyframes(fadeUp)
	0%
		opacity: 0
		transform: translate3d(0, 30px, 0)
	100%
		transform: translate3d(0, 0, 0)

.terminal
	background-color: #232323
	border-radius: 4px
	box-shadow: 0px 12px 36.8px 9.2px rgba(0, 0, 0, 0.1)
	color: #ffffff
	margin: 3.5rem auto
	padding: 0 2rem
	min-height: 285px
	width: 60%
	animation: fadeUp 2s
	& pre
		white-space: pre-line
		padding-top: 2rem


// иконки соц. сетей
.social
	text-align: center
	&__item
		display: inline-block
		vertical-align: middle
		margin: 0 10px
		height: 34px
		width: 34px
	&__link
		display: block
		border-radius: 50%
		outline: none
		position: relative
		height: 100%
		width: 100%
		& > span
			opacity: 0
		&:before
			content: ''
			position: absolute
			background-position: center center
			background-repeat: no-repeat
			height: 16px
			width: 16px
			top: 50%
			left: 50%
			margin-top: -8px
			margin-left: -8px
		&_vk
			background-color: #5D80A3
			&:before
				background-image: url('../img/vk.svg')
		&_telegram
			background-color: #3BABDE
			&:before
				background-image: url('../img/telegram.svg')
		&_twitter
			background-color: #2BAEE8
			&:before
				background-image: url('../img/twitter.svg')
		&_instagram
			background-color: #D7317B
			&:before
				background-image: url('../img/instagram.svg')
		&:hover
			background-color: #232323

.chain__list
	margin: 0
	padding: 0
.chain__item
	display: inline-block
	vertical-align: middle
	color: $c1
	font-size: 10px
	font-weight: 300
	text-transform: uppercase
	&:last-child
		margin-right: 0
.chain__item + .chain__item:before
	content: '/'
	display: inline-block
	vertical-align: middle
	margin-right: 4px
.chain__link
	display: inline-block
	vertical-align: middle
	border: none
	color: $c1
	.chain__link:hover
		color: $red
