doctype html
html
  include inc/head
  body
    #app.layout
      include inc/header
      main.main
        //- .section.section_page
        //-   .section__title ~ Мюсли ~
        //-   .section__content.container
        .section.section_page
          .blog
            .blog__date.blog__date_center
              span 6 февраля 2017
            .section__title.section__title_blog
              h1 Like Button is a feature in communication software
            .blog__info
              span.blog__author Adam Defo
              span.blog__views 777
              span.blog__likes
            .blog__content
              .txt
                p A like button, like option, or recommend button is a feature in communication software such as social networking services, Internet forums, news websites and blogs where the user can express that they like, enjoy or support certain content. Internet services that feature like buttons usually display the number of users who liked each content, and may show a full or partial list of them. 
              .txt
                .column
                  p The Facebook like button is designed as a hand giving "thumbs up". It was originally discussed to have been a star or a plus sign, and during development the feature was referred to as "awesome" instead of "like". It was introduced on 9 February 2009.
                .column
                  p The like button was first announced as a FriendFeed feature on October 30, 2007 and was popularized within its community. Later on the feature was integrated to Facebook before eventually FriendFeed was acquired by Facebook August 10, 2009
              
              blockquote A like button, like option, or recommend button is a feature in communication software such as social networking services, Internet forums, news websites and blogs where the user can express that they like, enjoy or support certain content.

      include inc/footer
