doctype html
html
  include inc/head
  body
    #app.layout
      include inc/header
      main.main
        .filmoteka
          .filmoteka__container
            .filmoteka__film(v-for="listItem in list")
              .filmoteka__film-cover(style="background-image: url(img/vcover.png)")
              .filmoteka__film-title {{ listItem.name }}

      include inc/footer
