doctype html
html
  include inc/head
  body
    #app.layout
      include inc/header
      main.main
        #typewriter.terminal
          pre
            code.terminal__code
              span.terminal__master adamdefo
              span.terminal__regexp ~ $
        .container
    include inc/footer
