doctype html
html
  include inc/head
  body
    #app.layout
      include inc/header
      main.main
        .terminal
          pre
            code#typewriter adamdefo ~ $
        .container
      include inc/footer
